&:root{
    --paragraph-progress-15: Inter;
	--font-roboto: Roboto;
	--font-size-2xs: 10px;
	--font-size-xs: 12px;
	--font-size-sm: 14px;
    --paragraph-progress-15-size: 15px;
	--h6-16-size: 16px;
	--h4-18-size: 18px;
	--h2-32-size: 32px;
	--background: #f0f0f6;
    --white: #fff;
	--color-black: #000;
	--white-font: #fafafa;
	--paragraph-font: #767676;
	--black: #2b2b2b;
    --dark: #18191A;
	--color-whitesmoke: #f8f8f8;
	--yellow: #ffb400;
	--available: #7eb942;
	--gap-sm: 24px;
    --gap-md: 32px;
	--padding-xs: 8px;
	--padding-sm: 12px;
	--padding-md: 16px;
	--padding-lg: 20px;
	--padding-xl: 24px;
	--br-md: 1px;




}